/* 
  > BASE 
    - Reset de los navegadores
      > Usaremos https://necolas.github.io/normalize.css/
    - typografía
    - Seteos generales

  > HELPERS
    - clases especiales (de ayuda)

  > LAYOUT 
    - Grid system
    - Estructuras principales (header, nav, aside, section, footer, etc)

  > COMPONENTS (reusables)
    - buttons
    - navbar
    - formularios
    - ventanas modales
    - sliders de imágenes o generales
    - accordion
    - tabs     

  > PAGES
    - páginas
    - secciones

*/

/* BASE
----------------------- */
/* Selector universal */
* {
  box-sizing: border-box;
}

body {
  font-family:Oswald, sans-serif;
  font-size:18px;
  line-height:1.4;
}

h1 {
  margin:0;
}
img {
  max-width:100%;
}
a {
  text-decoration:none;
  color:#000;
}

/* HELPERS
----------------------- */
/* Limpiar floats, otra técnica 
   → Aplicar al padre */

/* ::after es un pseudo-elemento de CSS; selecciono no el elemento en sí, sino una parte del mismo, en este caso
la parte aterior (after) */
/* Esta es la técnia más usada para limpiar floats */
.clearfix::after {
  clear:both;
  content:'';
  display:table;
}
.mt-15 {
  margin-top:15px;
}
.mt-1 {
  margin-top:10px;
}
.mb-15 {
  margin-bottom:15px;
}
.mb-50 {
  margin-bottom:50px;
}
.mt-30 {
  margin-top:30px;
}
.center-block {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.float-right {
  float:right;
}
.float-left {
  float:left;
}
.bg-light {
  background-color:#f8f9fa;
}
.bg-cian {
  background-color:#09cccc;
}
.bg-lightgray {
  background-color:#ecf0f1;
  
}
.bg-black {
  background-color:#000;
  color:#fff;
}
.bg-white {
  background-color:#fff;
  color:#000;
}
.bg-green {
  background-color:#009688;
}
.text-danger {
  color:red;
}
.text-white {
  color:#fff;
}
.text-black-50 {
  color:rgba(0,0,0,.45);
}
.text-center {
  text-align:center;
}
.text-right {
  text-align:right;
}
.text-big {
  font-size:48px;
}
.text-bg {
  padding:8px 0;
  background-color:rgba(0,0,0,.6);
}
.text-muted {
  color:#6b6b6b;
}
.d-block {
  display:block;
}
.d-inline {
  display:inline;
}
.border {
  border:solid 1px #000;
}
.radius-50 {
  border-radius:50%;
}
.absolute {
  position:absolute;
  top:5px;
  right:5px;
}

/* LAYOUT
----------------------- */

/* Grid system */
.container {
  width:1200px;
  height:auto;
  position:relative;
  margin:0px auto;
  padding-left:15px;
  padding-right:15px;
  max-width:100%;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position:relative;
  float:left;
  min-height:1px;
  padding-left:15px;
  padding-right:15px;
}

/* 
col-12 ----- 100%
col-5  ----- x

*/

.col-12 {
	width:100%;
}
.col-11 {
	width: 91.66666667%;
}
.col-10 {
	width: 83.33333333%;
}
.col-9 {
	width: 75%;
}
.col-8 {
	width: 66.66666667%;
}
.col-7 {
	width: 58.33333333%;
}
.col-5 {
	width:41.666666%;
}
.col-6 {
	width: 50%;
}  
.col-4 {
	width: 33.33333333%;
}
.col-3 {
	width: 25%;
}
.col-2 {
	width: 16.66666667%;
}
.col-1 {
	width: 8.33333333%;
} 

.navbar-brand {
  margin:0;
}
.navbar-brand img {
  width:100px;
}
.navbar {
  position:fixed;
  top:0;
  left:0;
  right:0;
  /* background-color:#ab2901; */
  z-index:999;
}
  .navbar-menu {
    position: relative;
    /* float: left; */
    top: 25px;
    list-style:none;
    margin:0;
    padding:0;
  }
  .menu-item {  
    position: relative;
    float:left
  }
  .menu-link {
    display:inline-block;
    padding:10px 15px;
    text-decoration: none;
    color:#000;
    text-transform: uppercase;
  }
    .menu-link:hover {
      border-bottom:solid 3px lightcyan;
    }

  .header {
    width:100%;
    height:100vh;
    padding-top:130px;
    position:relative;
  }
  /* 
    .bg-header-main {
      background:url("../images/08.jpg") no-repeat center center;
      background-size:cover;
    }   */
     .header-title {
      position:absolute;
      width:80%;
      top:20%;
      margin:0px 10%;
      padding:50px 40px;
      font-size:58px;
      color:#fff;
      background-color:rgba(0,0,0,.45);
      text-transform: uppercase;
      font-weight: bold; 
    } 
     .form-header {
      position:relative;
      left:0;
      right: 0;
      bottom:0;
      margin: 15px 0px;  
      background-color: rgba(22,22,22,0.7);
      line-height: 2.5;
    }  
    .form-header input,
    .form-header select, 
    .form-header textarea{
      margin: 10px;
      padding:5px 8px;
      border: transparent;
      border-radius: 3px;    
      font-size: 14px;
    }  

    /* Este es un selector avanzado de CSS; existen varios 
    que irán aprendiendo con el tiempo */
    .form-header input[type="date"] {
      padding: 5px 3px;
    }
    

   /* Formulario en aside */
  .form-aside input,
  .form-aside textarea {
    display:block;
    width:100%;
    padding:12px 15px;
    margin:15px 0;    
  }


/* COMPONENTS
----------------------- */
/* .btn-mobile {
  position:absolute;
  top:25px;
  left:0;
  font-size:45px;
  display:none;
} */

/* Es sólo una idea de cómo lo pueden trabajar según o visto en clase; se puede mejorar mucho! */
.box {
  height:300px;
  padding: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,.23);
  

  /* No hemos visto esta propiedad */
  transform:scale(1,1);
  transition:transform 400ms ease-in-out;
}
  .box:hover {
    transform:scale(1.1,1.1);
  }

.section-heading {
  width:60%;   
  /* No va a funcionar esto de abajo pues tienen 60% de width */
  /* text-align:center; */
  font-weight:normal;
  font-size:45px;   
  background-color:ghostwhite;
  border-left:solid 5px #09cccc;
}

.modal_mask {
  position:fixed;
  top:-700px;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,.3);
  opacity:0;
  pointer-events:none;
  transition:all 400ms ease-in-out;
}
.content {
  max-width: 680px;
  margin:100px auto;
  padding:8px;
  background-color:#fff;
  color:#000;
  border:solid 2px #000;
  border-radius:8px;
  text-align:center; 

  /* Esto es para que el padre no colapse por los floats */
  overflow:hidden;
}

.modal_mask:target {
  opacity:1;
  top:0px;
  pointer-events: auto;
}

/* .btn-mobile {
  position:absolute;
  top:25px;
  left:0;
  font-size:45px;
  display:none;
} */
.btn {
  display: inline-block;
  padding: .37rem .75rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;  
  border: 1px solid #17a2b8;  
}
  .btn-large {
    display:block;
  }
  .btn-danger {
    background-color: #dc3545;    
    border-color: #fff;
    cursor:pointer;
  }
  .btn-danger:hover {
    color: #fff;
    /* background-color: #dc3545;
    border-color: #dc3545; */
  }
  .btn-danger-outline {
    color: #dc3545;
    background-color: transparent;   
    border-color: #dc3545;
  }
  .btn-danger-outline:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .btn-contacto {
    /* position:fixed; */
    right:8px;
    bottom:8px;    
    padding: 10px 45px;
    overflow: hidden;
    border:none;
    text-transform: uppercase;
    background-color: #2ecc71;
    color: #ecf0f1;  
  }


/* SECTION/PAGES
----------------------- */
  /* Ventanas modales */
/* El mismo CSS para todas las ventanas modales */


/* Cuidado! Colocarle w 100% y float left a las sections de ser necesario */

.section {
  width: 100%;
  padding: 50px 0px 100px 0;
  position: relative;
  float: left;
}

/* Text overlay / pendiente */


 .divider {
  width:100%;
  height:40vh; 
  position:relative;
  float:left;
}
   .bg-divider {
    background:url('../images/03.jpg') no-repeat center center fixed;     
    background-size:cover;
    opacity:.8;
  } 

  .mapa iframe {
    width:100%;
    height:75vh;
  }

  /* Este problema tiene que ver con el uso de floats
  Los elementos padre que tienen hijos flotantes tienden a colapsar
  En estos casos se hace algo llamado: limpiar floats */
  .footer {
    width:100%;  
    position:relative;
    float:left;
    /* Esta declaración evita que el footer suba, por los floats */
    clear:both;
  } 
  .footer-right {
    float:right;
    padding:8px;
  }
  .footer-right p {
    margin:0;
  }

  /* Habitaciones */

  /* Promociones */




